.input {
  width: 300px;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  background: var(--card-bg);
  color: var(--text-color);
  font-size: 14px;
}

.input:focus {
  border-color: #2563eb;
}

.error {
  border-color: #dc2626;
}

.input:disabled {
  background-color: #f3f4f6;
  cursor: not-allowed;
}